<%= tag.div class: 'author-card-avatar bg-white',
            style: "background-image: url(#{author_image_url(@author)})",
            data: { 'controller': 'direct-upload',
                    'direct-upload-target': 'preview'
                  } do %>
  <%= render ImageEditComponent.new(form: @form, model: @author, image_attr: :image,
                                    image_url_attr: :image_url) %>
<% end %>

<div class="author-card-plaque flex flex-col">
   <div class="author_search_field" data-controller="combobox">
    <%= @form.label :name %>
    <%= @form.text_field :name, {'required': true,
                                'class': 'author_search_query',
                                'pattern': '.*\w+.*',
                                'autocomplete': 'off',
                                'data-author_fields-target': 'nameField',
                                'data-action': 'input->author_fields#autocomplete focus->combobox#start focusout->combobox#stop',
                                'data-combobox-target': 'input'} %>
    <ul class="search_authors_results typeahead" role="listbox" data-combobox-target="list"></ul>
  </div>

  <div>
    <%= @form.label :birth %>
    <%= render DatePickerComponent.new(form: @form, date_attr: :birth) %>
  </div>
  <div>
    <%= @form.label :death %>
    <%= render DatePickerComponent.new(form: @form, date_attr: :death) %>
  </div>
</div>
