<%= helpers.turbo_frame_tag "new-work-btn-component" do %>
  <%= tag.div data: { 'controller': 'popover',
                      'popover-target': 'container'
                    } do %>
    <%= tag.div href: new_work_path, class: 'basic-btn new-work-btn',
                tabindex: '0',
                data: { 'popover-target': 'button',
                      'action': 'focus->popover#show
                                 focusin->popover#show
                                 click->popover#show

                                 focusout->popover#hide'
                    } do %>
      Add new work
    <% end %>
   <%= helpers.turbo_frame_tag "work_new", class: "floating-popover floating-popover-new-work",
                        data: { "popover-target": "popover" } do %>

      <%= tag.div class: "floating-popover-arrow",
                  data: { 'popover-target': 'arrow' } do %>
      <% end %>

      <nav class="floating-popover-nav">
        <%= tag.a href: new_work_path, tabindex: '0', class: 'basic-btn new-work-btn' do %>
          Manually input a new work
        <% end %>
        <%= tag.a href: new_import_works_path, tabindex: '0', class: 'basic-btn new-work-btn' do %>
          Import a new work from an ISBN
        <% end %>
      </nav>
    <% end %>
  <% end %>
<% end %>
