<%= form_with(model: work) do |form| %>
  <% if work.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :ISBN, style: "display: block" %>
    <%= form.text_field :ISBN %>
  </div>

  <div>
    <%= form.label :edition_publication, style: "display: block" %>
    <%= form.date_field :edition_publication %>
  </div>

  <div>
    <%= form.label :original_publication %>
    <%= form.fields_for :original_publication do |fields| %>
      <div>
        <div>
          <%= fields.label :year %>
          <%= fields.text_field :year, value: work.original_publication.year %>
        </div>
        <div>
          <%= fields.label :month %>
          <%= fields.text_field :month, value: work.original_publication.month %>
        </div>
        <div>
          <%= fields.label :day %>
          <%= fields.text_field :day, value: work.original_publication.day %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :cover_url, style: "display: block" %>
    <%= form.text_field :cover_url %>
  </div>

  <h1> Authors </h1>

  <%= turbo_frame_tag form.field_id(:voices) do %>
    <%= form.fields_for :voices do |voice_form| %>
      <h3> Add a new author </h3>
      <%= render partial: 'voices/form', locals: {form: voice_form} %>
    <% end %>
  <% end %>

  <%= form.submit "Add author", formmethod: "post", 
                                formaction: add_author_works_path(id: form.object),
                                data: { turbo_frame: form.field_id(:voices) } %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
