<%= turbo_frame_tag work, class: 'work-container' do %>
  <% form_with model: work do |form| %>
    <% if work.errors.any? %>
      <div class="text-red-400">
        <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>
        <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="work-card">
    
      <%= render(WorkCoverFormComponent.new(work: work, form: form)) %>
                         
      <div class="work-card-details">
        <div class="work-card-details-title">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>

        <div>
          <%= form.label :original_publication %>
          <%= render partial: 'shared/datepicker',
                     locals: { form: form, datename: :original_publication } %>
        </div>

        <div>
          <%= form.label :edition_publication, style: "display: block" %>
          <%= render partial: 'shared/datepicker',
                     locals: { form: form, datename: :edition_publication } %>
        </div>

        <div>
          <%= form.label :isbn %>
          <%= form.text_field :isbn %>
        </div>
      </div>

      <div class="work-card-authors">
        <%= render partial: 'authors/author',
                   collection: work.authors %>
      </div>
    </div>

    <% unless work.new_record? %>
      <nav class="work-nav">
        <ul class="flex flex-row justify-end space-x-3 mb-6">
          <li><%= form.submit "Save", class: 'work-nav-btn work-nav-btn-edit-save' %></li>
          <li><%= link_to "Cancel", work, class: 'work-nav-btn work-nav-btn-edit-cancel' %></li>
        </ul>
      </nav>
    <% end %>

  <% end %>
<% end #turbo_frame_tag%>
