<%= turbo_frame_tag work, class: 'work-container' do %>
  <% form_with class: 'work-inline-form', model: work do |form| %>
    <% if work.errors.any? %>
      <div class="text-red-400">
        <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>
        <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="work-card">

      <%= tag.div class: 'work-card-cover',
            style: "background-image: url('#{work_cover_url(work)}'),
                    url('#{image_path('papyrus.jpg')}');",
            data: {'controller': 'direct-upload',
                   'direct-upload-target': 'preview',
                   'role': 'presentation',
                   'alt': ''
                  } do %>
        <%= render ImageEditComponent.new(form: form, model: work, image_attr: :cover_image,
                                          image_url_attr: :cover_url) %>
      <% end %><%# .work-card %>
                         
      <div class="work-card-details">
        <div class="work-card-details-title">
          <%= form.label :title %>
          <%= form.text_field :title %>
        </div>

        <div>
          <%= form.label :original_publication %>
          <%= render DatePickerComponent.new(form: form, date_attr: :original_publication) %>
        </div>

        <div>
          <%= form.label :edition_publication, style: "display: block" %>
          <%= render DatePickerComponent.new(form: form, date_attr: :edition_publication) %>
        </div>

        <div>
          <%= form.label :isbn %>
          <%= form.text_field :isbn %>
        </div>
      </div>

      <div class="work-card-authors">
          <%= turbo_frame_tag form.field_id(:voices) do %>
            <%= form.fields_for :voices do |voice_form| %>
              <%= render VoiceInlineFormComponent.new(voice: voice_form.object,  form: voice_form) %>
            <% end %>
          <% end %>
        <%# render AuthorInlineFormComponent.with_collection(work.authors, form: form) %>
      </div>

    </div>

    <% unless work.new_record? %>
      <nav class="work-nav">
        <ul class="flex flex-row justify-end space-x-3 mb-6">
          <li><%= form.submit "Save", class: 'work-nav-btn work-nav-btn-edit-save' %></li>
          <li><%= link_to "Cancel", work, class: 'work-nav-btn work-nav-btn-edit-cancel' %></li>
        </ul>
      </nav>
    <% end %>

  <% end %>
<% end #turbo_frame_tag%>
