<%= turbo_frame_tag work, class: 'work-container' do %>
<%# tag.div class: 'work-container', id: dom_id(work) do %>
  <div class="work-card">

    <% work_cover = work.cover_image.present? ? url_for(work.cover_image)
                                              : image_path('unknowncover.svg') %>
      <%= tag.div class: 'work-card-cover',
                  style: "background-image: url('#{work_cover}'), 
                          url('#{image_path('papyrus.jpg')}');" do %>
    <% end %>

    <div class="work-card-details">
      <p class="work-card-details-title">
        <%= work.title %>
      </p>

      <p>
        <strong>Original Publication</strong>
        <%= work.original_publication %>
      </p>

      <p>
        <strong>Edition Publication:</strong>
        <%= work.edition_publication %>
      </p>

      <p>
        <strong>ISBN:</strong>
        <%= work.ISBN %>
      </p>
    </div>

    <div class="work-card-authors">
      <%= render partial: 'authors/author',
                 collection: work.authors %>
    </div>
  </div>

  <% unless work.new_record? %>
    <nav class="work-nav">
      <ul class="flex flex-row justify-end space-x-3 mb-6">
        <% if user_signed_in? %>
          <li><%= render partial: 'possessions/addremove', locals: { work: work } %>
        <% end %>
        <li><%= link_to "Show this work", work, class: 'work-nav-btn work-nav-btn-show', data: { turbo_frame: '_top' } %></li>
        <li><%= link_to "Edit this work", edit_work_path(work), class: 'work-nav-btn work-nav-btn-edit' %></li>
        <li><%= button_to "Destroy this work", work, method: :delete, class: 'work-nav-btn work-nav-btn-destroy' %></li>
      </ul>
    </nav>
  <% end %>
<% end %>
