<a href="<%= url_for work %>">
  <div id="<%= dom_id work %>">
    <% if work.cover_url %>
      <div>
        <img src="<%= work.cover_url %>" />
      </div>
    <% end %>
    <div>
    </div>
    <p>
      <strong>Title:</strong>
      <%= work.title %>
    </p>

    <p>
      <strong>ISBN:</strong>
      <%= work.ISBN %>
    </p>

    <p>
      <strong>Edition Published:</strong>
      <%= work.edition_publication %>
    </p>

    <p>
      <strong>Date of Original Publication:</strong>
      <%= work.original_publication %>
    </p>

    <% Voice.where(work_id: work.id).each do |voice| %>
      <%= render partial: Author.find(voice.author.id), locals: { style: voice.style } %>
    <% end %>
  </div>
</a>
