<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "ext_work_frame" do %>
  <%= render @work %>
  <% @params.each do |param| %>
    <%= p param %>
  <% end %>
  <%= button_to "Save this work?", action: "create", params: @params %>
<% end %>
