<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "ext_work_frame" do %>
  <%= render @work %>
  <%= p @work.class %>
  <%= button_to "Save this work?",
      {action: "create"},
      {params: {work: @work.attributes}} %>
<% end %>
