<p style="color: green"><%= notice %></p>
<h1> Work Information </h1>

<%= turbo_frame_tag @work do %>
  <%= render @work %>


  <div>
    <%= link_to "Edit this work", edit_work_path(@work) %>
    <%= button_to "Destroy this work", @work, method: :delete,
                                              data: { turbo_frame: "_top" } %>
    <%= link_to "Back to works", works_path, data: { turbo_frame: "_top" } %>
  </div>
<% end %>
