<%= tag.a href: url_for(author), data: {turbo_frame: '_top'}  do %>
  <div class="author-card" id="<%= dom_id author %>">
    <% if author.image.representable? %>
      <% author_avatar_image = polymorphic_url(author.image.representation(resize_to_limit: [450, 450])) %>
    <% else %>
      <% author_avatar_image = image_path("unknowndrinker.svg") %>
    <% end %>
    <%= tag.div class: 'author-card-avatar bg-white',
                style: "background-image: url(#{author_avatar_image})",
                role: 'image', alt: "Link to #{author.name}'s page" do %>
    <% end #.author-card-avatar %>
   <div class="author-card-plaque flex flex-col items-center rounded-b-[inherit]">
      <strong><%= author.name %></strong>
      <p>Birth: <%= date_string_safe(author.birth) %></p>
      <% if author.death.present? %>
        <p>Death: <%= date_string_safe(author.death) %></p>
      <% end %>
    </div>
 </div>
<% end %>
