<%= tag.a href: url_for(author), data: {turbo_frame: '_top'}  do %>
  <div class="author-card" id="<%= dom_id author %>">
    <% if author.image.representable? %>
      <%= image_tag author.image.representation(resize_to_limit: [450, 450]), class: "author-card-avatar" %>
    <% else %>
      <%= image_tag "unknowndrinker.svg", class: "bg-white author-card-avatar" %>
    <% end %>
   <div class="author-card-plaque flex flex-col items-center rounded-b-[inherit]">
      <strong><%= author.name %></strong>
      <p>Birth: <%= date_string_safe(author.birth) %></p>
      <% if author.death.present? %>
        <p>Death: <%= date_string_safe(author.death) %></p>
      <% end %>
    </div>
 </div>
<% end %>
