 <div id="<%= dom_id author %>">
  <strong><%= author.name %></strong><%= ": #{style.titleize}" if defined?(style) %>
  <p> Birth: <%= author.birth_string %> </p>
  <p> Death: <%= author.death_string %> </p>
</div>
