<%= tag.div class: 'author-card', id: dom_id(author) do %>
  <%= tag.a href: url_for(author), class: 'author-card-avatar bg-white',
            style: "background-image: url(#{author_image_url(author)})",
            alt: "Open #{author.name}'s page",
            data: {turbo_frame: '_top'} do%>
  <% end %>
 <div class="author-card-plaque flex flex-col items-center rounded-b-[inherit]">
    <strong><%= author.name %></strong>
    <% if author.birth.present? %>
      <p>Birth: <%= date_string_safe(author.birth) %></p>
    <% end %>
    <% if author.death.present? %>
      <p>Death: <%= date_string_safe(author.death) %></p>
    <% end %>
  </div>
<% end %>
