<div data-controller="author_fields">
  <div class="author_search_field" data-controller="combobox">
    <%= form.label :name %>
    <%= form.text_field :name, {'required': true,
                                'class': 'author_search_query',
                                'pattern': '.*\w+.*',
                                'autocomplete': 'off',
                                'data-author_fields-target': 'nameField',
                                'data-action': 'input->author_fields#autocomplete focus->combobox#start focusout->combobox#stop',
                                'data-combobox-target': 'input'} %>
    <ul class="search_authors_results typeahead" role="listbox" data-combobox-target="list"></ul>

  </div>

  <div>
    <%= form.label :birth, style: "display: block" %>
    <%= render partial: 'shared/datepicker', locals: {form: form, datename: :birth} %>
    <%# TODO: add back `data-author_fields-target` %>
  </div>
  <div>
    <%= form.label :death, style: "display: block" %>
    <%= render partial: 'shared/datepicker', locals: {form: form, datename: :death} %>
    <%# TODO: add back `data-author_fields-target` %>
  </div>
  <div data-controller="direct-upload">
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, direct_upload: true,
          data: { 'direct-upload-target': 'input',
                  'action':              'change->direct-upload#uploadEarly
                                          direct-upload:error->direct-upload#uploadError'
                } %>
    <progress class="opacity-0" aria-hidden="true" data-direct-upload-target="progress"></progress>
  </div>
</div>
