<div>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name%>
  <%= form.text_field :last_name %>
</div>

<div>
  <%= form.label :birth, style: "display: block" %>
  <%= form.date_field :birth %>
</div>

<div>
  <%= form.label :death, style: "display: block" %>
  <%= form.date_field :death %>
</div>
