<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :birth, style: "display: block" %>
  <%= form.date_field :birth %>
</div>

<div>
  <%= form.label :death, style: "display: block" %>
  <%= form.date_field :death %>
</div>
