<div class="DatePickerComponent">
  <%= form.label "#{datename}_year".to_sym, "Year" %>
  <%= form.number_field "#{datename}_year".to_sym, size: 8 %>
  <%= form.label "#{datename}_month".to_sym, "Month" %>
  <%= form.number_field :"#{datename}_month".to_sym, size: 4, min: 1, max: 12 %>
  <%= form.label "#{datename}_day".to_sym, "Day" %>
  <%= form.number_field "#{datename}_day".to_sym, size: 4, min: 1, max: 31 %>
</div>

