<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Deworked</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.svg', type: 'image/svg+xml' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header> 
      <% if notice %>
        <p class="header-notification notification-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="header-notification notification-alert"><%= alert %></p>
      <% end %>
      <h1>Bookstore</h1>
      <nav class="application-header-nav">
        <ul class="flex flex-row space-x-3">
          <li><%= link_to_unless_current "Works", works_path %></li>
          <li><%= link_to_unless_current "Authors", authors_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to_unless_current "My Works", user_possessions_path(current_user.id) %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <ul class="application-footer">
        <li>Thanks for visiting!</li>
        <li>Contact us via carefully crafted google search queries!</li>
      </ul>
    </footer>
  </body>
</html>
